# Uppgift 0 - uppvärmning med riket

 a) Börja med att läsa in filen riket2023_åk9_np.xlsx och sheets för de olika ämnena.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df_engelska= pd.read_excel("riket2023_åk9_np.xlsx", sheet_name= "Engelska", skiprows= 7)
df_matematik= pd.read_excel("riket2023_åk9_np.xlsx", sheet_name= "Matematik", skiprows= 7)
df_svenska= pd.read_excel("riket2023_åk9_np.xlsx", sheet_name= "Svenska", skiprows= 7)
df_svenska2= pd.read_excel("riket2023_åk9_np.xlsx", sheet_name= "Svenska som andraspråk", skiprows= 7)
df_rapport= pd.read_excel("riket2023_åk9_np.xlsx", sheet_name= "Rapportbeskrivning och def.")

df_matematik

,Unnamed: 0,Unnamed: 1,Antal elever med provbetyg A-F,Unnamed: 3,Unnamed: 4,Andel (%) med provbetyg A-E,Unnamed: 6,Unnamed: 7,Genomsnittlig betygspoäng,Unnamed: 9,Unnamed: 10
0,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
1,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12
2,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
3,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13,12.8,13.1
4,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

 b) Ta reda på antalet som fått F i matematik totalt, pojkar respektive flickor.

 diskussion

In [18]:
import pandas as pd

df_matematik = pd.read_excel("riket2023_åk9_np.xlsx", sheet_name="Matematik", skiprows=8)

df_matematik = df_matematik.iloc[:, 1:-3]

df_matematik.columns = ["Huvudman","Totalt A-F","Flickor A-F", "Pojkar A-F", "Totalt i % A-E", "Flickor i % A-E", "Pojkar i % A-E"]

df_matematik

,Huvudman,Totalt A-F,Flickor A-F,Pojkar A-F,Totalt i % A-E,Flickor i % A-E,Pojkar i % A-E
0,Samtliga,106766,51548,55218,89.1,88.7,89.5
1,Kommunal,84163,40386,43777,88.1,87.7,88.5
2,Enskild,22553,11137,11416,92.9,92.2,93.5
3,Skolverket,50,25,25,~100,~100,~100

Pojkar i % A-E X 2 VAR PROBLEMET

In [19]:
# Beräkna antalet flickor med betyg F för samtliga
girls_f = round(df_matematik.loc[0, "Flickor A-F"] - df_matematik.loc[0, "Flickor A-F"] * (df_matematik.loc[0, "Flickor i % A-E"] / 100), 2)

# Beräkna antalet pojkar med betyg F för samtliga
boys_f = round(df_matematik.loc[0, "Pojkar A-F"] - df_matematik.loc[0, "Pojkar A-F"] * (df_matematik.loc[0, "Pojkar i % A-E"] / 100), 2)

# Visa antalet flickor och pojkar med betyg F för samtliga
print("Antal flickor med betyg F för samtliga:", girls_f)
print("Antal pojkar med betyg F för samtliga:", boys_f)

Antal flickor med betyg F för samtliga: 5824.92
Antal pojkar med betyg F för samtliga: 5797.89